{% extends "home/base.html" %} {% block title %} About {% endblock title %}

<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->

{% block contents %}

<!-- <div class="container text-center mx-auto my-5">
  <div class="row mx-3 my-5">
    <div class="col-6 col-md-auto"  border my-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        sapiente, nulla necessitatibus velit esse adipisci ipsam expedita in non
        at mollitia sed aperiam ipsa, voluptatibus suscipit explicabo quibusdam
        odio quasi.
      </p>
      
    </div>

    <div class="col-6 col-md-auto" ">
      <img src="/static/image/moon-g3d20e61e8_1280.jpg " width="500px"height="500px"style="margin: 20px" alt=""/>
    </div>

  </div>
</div> -->

<div class="card text-center">
  <div class="card-header mb-4">
    <h1>About pages</h1>
  </div>

  <div class="container bg-dark">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 mt-5 text-center">
          <!-- image  -->

          <div class="container mb-5 mt-5">
            <img
              src="/static/image/vaibhav.png"
              class="img-fluid"
              style="height: 300px; width: 300px"
              alt=""
            />
          </div>

          <h3 class="text-light text-decoration-underline fw-bolder mt-2 mb-2">
            Vaibhav Raj Singh
          </h3>
        </div>
        <div class="col-md-6 mt-5 mb-5">
          <p class="text-sm-start text-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            laboriosam laudantium ea sint repellat, aperiam dolor, mollitia
            perspiciatis sed culpa officiis fugiat sit! Nesciunt, voluptatum
            quidem. Atque beatae quasi explicabo. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Qui quas, consequuntur iusto itaque
            alias suscipit cum tenetur doloremque expedita ex voluptas
            blanditiis veniam. Corporis adipisci repellat sed ad, eius
            dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aliquid ducimus culpa beatae voluptates corrupti sed repellendus
            maxime magnam eum neque temporibus rerum, eveniet officiis
            dignissimos. Nisi tempore dolorum quibusdam sunt. Lorem ipsum, dolor
            sit amet consectetur adipisicing elit. Corrupti pariatur perferendis
            sed aperiam facere placeat earum, ipsa eligendi optio magnam
            corporis? Veniam, distinctio suscipit dolorem quisquam est
            reprehenderit sed? Provident! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Facere cupiditate ullam id eos modi at ipsum quod.
            Maxime dignissimos eos est corrupti totam provident nulla facilis
            officia modi blanditiis? Natus.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-5">
    <img
      src="/static/image/7367527_3647108.jpg"
      class="img-fluid"
      style="height: 300px; width: 300px"
      alt=""
    />
  </div>

  <div class="card-footer text-muted mt-5">
    <p class="text-dark">&copy;2022</p>
  </div>
</div>

{% endblock contents %}
