{% extends "home/base.html" %}

{% block title %} change_password    {% endblock title %}









<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->

{% block contents %}      
  
<div class="container">
    
<div class="container mx-auto  my-5 ">
    <div class="row mx-auto">
      <!-- <img class="mx-auto" src="/static/image/user.png" style="height:150px ; width:150px ;margin: auto;" alt="None"> -->
    </div>

    <div class="row mx-auto text-center" style="margin:auto ;">

   <form action="/change_password/"  method="post" >
      
    {% csrf_token %}

       <h1>change_password</h1>
    
    <br>
    <br>
    
   
    <span><i class="fa fa-user"></i><strong> : </strong></span>
    <input type="password" name="newpassword"  placeholder="Enter your New password">
    
    <br>
    <br>

        

 <input type="submit"style="width:100px ; margin: auto;" class="btn btn-block text-center text-light bg-primary"  value="Login">



      </form>
    </div>

  </div>
    


    

  
{% endblock contents %}